GitHub repo for this course:

https://github.com/reuven/PyCon-04April-19-comprehensions

# Agenda

1. What are comprehensions?
2. List comprehensions
3. List comprehensions and files
4. Set comprehensions
5. Dict comprehensions
6. Nested comprehensions
7. Generator expressions

In [2]:
# I have a list of integers 
# I want to create a list of those integers squared

numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
output = []

for one_number in numbers:
    output.append(one_number ** 2)
    
output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# what is another way to do this?
# list comprehension

[one_number ** 2 for one_number in numbers]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# List comprehension

Much easier to write (and understand) if we pick it apart
and write it on multiple lines.

In a comprehension, the *first* thing that runs is the loop, and the second thing is the expression.

The result of a list comprehension is a list.  We have created a new list! We can pass it as an argument to a function, or assign it to a variable.

The new list is the result of evaluating our expression on every element of the input list.

As a result, the output list will have the same number of elements as the input list.

In [5]:
[one_number ** 2             # expression -- any Python expression
 for one_number in numbers]  # iteration -- any Python loop

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# When use a loop, and when a comprehension?

The big distinction is between getting a new value back and having side effects.

Meaning:

If you have an existing list, and you want a new list, and you can describe the mapping from the first to the second, then you should use a comprehension.

I want the list!

But... if you are assigning repeatedly, if you are modifying things repeatedly.. then use a regular `for` loop.

In [6]:
# Let's say that I have a list of strings

mylist = ['abcd', 'ef', 'ghi']

# I want to have a new string based on mylist with '*' between
# the elements

'*'.join(mylist)

'abcd*ef*ghi'

In [7]:
# what if I have a list of integers?

mylist = [10, 20, 30]

'*'.join(mylist)

TypeError: sequence item 0: expected str instance, int found

In [8]:
# we have: a list of integers
# we want: a list of strings
# we can convert one int to one string with str()

[str(one_item)
 for one_item in mylist]

['10', '20', '30']

In [9]:
'*'.join([str(one_item)
         for one_item in mylist])

'10*20*30'

In [10]:
# I have a string, and I want to capitalize the start
# of each word

s = 'This is a sample sentence for my tutorial'

s.title()

'This Is A Sample Sentence For My Tutorial'

In [11]:
# what if str.title didn't exist? Could I still do
# something like this?

# what if, for example, I were to break the string
# into individual words?

# I have: a list of strings
# I want: a list of strings whose first letters are capitalized
# I can use: str.capitalize 

[one_word.capitalize()
 for one_word in s.split()]

['This', 'Is', 'A', 'Sample', 'Sentence', 'For', 'My', 'Tutorial']

In [12]:
' '.join([one_word.capitalize()
         for one_word in s.split()])

'This Is A Sample Sentence For My Tutorial'

# Exercises:

1. Ask the user to enter a string containing numbers, separated by spaces. Add those numbers together (as integers), and print the result.  It's OK to use the builtin `sum` function.

2. Ask the user to enter a string, and print the length of the string, except for whitespace. It's *not* OK to use `str.replace`.

In [13]:
s = input('Enter numbers, separated by whitespace: ').strip()

Enter numbers, separated by whitespace: 10 20 30 40 45

In [14]:
s

'10 20 30 40 45'

In [15]:
sum(s)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
# what I have: a list of strings, containing digits
# what I want: the sum of the integers in that string
# I can transform one to the other with int

[int(one_item)
for one_item in s.split()]

[10, 20, 30, 40, 45]

In [17]:
sum([int(one_item)
    for one_item in s.split()])

145

In [18]:
sum([int(one_item)
    for one_item in s])

ValueError: invalid literal for int() with base 10: ' '

In [19]:
# find the lengths of the words (not the whitespace)
# in the user's input

s = input('Enter a sentence: ').strip()

len(s)  # how many characters in the entire sentence?

Enter a sentence: this is a test sentence

23

In [22]:
# how long is this, if we ignore the whitespace?

# if I use s.split(), I get a list of strings
# without any whitespace

# I have: a list of strings
# I want: the sum of their lengths
# I can apply: len

sum([len(one_word)
    for one_word in s.split()])

19

In [23]:
s = '    a    b    c     '

s.strip()

'a    b    c'

In [25]:
s = '10 20 30'

[int(one_item)             # expression --  SELECT
for one_item in s.split()] # iteration  --  FROM

[10, 20, 30]

In [26]:
# I have a string with words
# I want to print each word with stars around it!

s = 'this is fantastic'

[print(f'*{one_word}*')
for one_word in s.split()]

*this*
*is*
*fantastic*

[None, None, None]

The list that we get back from a comprehension contains the values that the expression returned.

`print` always returns `None`, no matter what you print.

Here, it printed on the screen, but it returned `None`, which affected our output comprehension rather dramatically.

In [27]:
# how about iterating over files?

[one_line
 for one_line in open('linux-etc-passwd.txt')]

['# This is a comment\n',
 '# You should ignore me\n',
 'root:x:0:0:root:/root:/bin/bash\n',
 'daemon:x:1:1:daemon:/usr/sbin:/usr/sbin/nologin\n',
 'bin:x:2:2:bin:/bin:/usr/sbin/nologin\n',
 'sys:x:3:3:sys:/dev:/usr/sbin/nologin\n',
 'sync:x:4:65534:sync:/bin:/bin/sync\n',
 'games:x:5:60:games:/usr/games:/usr/sbin/nologin\n',
 'man:x:6:12:man:/var/cache/man:/usr/sbin/nologin\n',
 'lp:x:7:7:lp:/var/spool/lpd:/usr/sbin/nologin\n',
 'mail:x:8:8:mail:/var/mail:/usr/sbin/nologin\n',
 '\n',
 '\n',
 '\n',
 'news:x:9:9:news:/var/spool/news:/usr/sbin/nologin\n',
 'uucp:x:10:10:uucp:/var/spool/uucp:/usr/sbin/nologin\n',
 'proxy:x:13:13:proxy:/bin:/usr/sbin/nologin\n',
 'www-data:x:33:33:www-data:/var/www:/usr/sbin/nologin\n',
 'backup:x:34:34:backup:/var/backups:/usr/sbin/nologin\n',
 'list:x:38:38:Mailing List Manager:/var/list:/usr/sbin/nologin\n',
 'irc:x:39:39:ircd:/var/run/ircd:/usr/sbin/nologin\n',
 'gnats:x:41:41:Gnats Bug-Reporting System (admin):/var/lib/gnats:/usr/sbin/nologin\n',
 '\n',
 'nobody:x:65534:65534:nobody:/nonexistent:/usr/sbin/nologin\n',
 'syslog:x:101:104::/home/syslog:/bin/false\n',
 'messagebus:x:102:106::/var/run/dbus:/bin/false\n',
 'landscape:x:103:109::/var/lib/landscape:/bin/false\n',
 'jci:x:955:955::/home/jci:/bin/bash\n',
 'sshd:x:104:65534::/var/run/sshd:/usr/sbin/nologin\n',
 'user:x:1000:1000:user,,,:/home/user:/bin/bash\n',
 'reuven:x:1001:1001:Reuven M. Lerner,,,:/home/reuven:/bin/bash\n',
 'postfix:x:105:113::/var/spool/postfix:/bin/false\n',
 'colord:x:106:116:colord colour management daemon,,,:/var/lib/colord:/bin/false\n',
 'postgres:x:107:117:PostgreSQL administrator,,,:/var/lib/postgresql:/bin/bash\n',
 'dovecot:x:108:119:Dovecot mail server,,,:/usr/lib/dovecot:/bin/false\n',
 'dovenull:x:109:120:Dovecot login user,,,:/nonexistent:/bin/false\n',
 'postgrey:x:110:121::/var/lib/postgrey:/bin/false\n',
 'debian-spamd:x:111:122::/var/lib/spamassassin:/bin/sh\n',
 'memcache:x:113:124:Memcached,,,:/nonexistent:/bin/false\n',
 'genadi:x:1002:1003:Genadi Reznichenko,,,:/home/genadi:/bin/bash\n',
 'shira:x:1003:1004:Shira Friedman,,,:/home/shira:/bin/bash\n',
 'atara:x:1004:1005:Atara Lerner-Friedman,,,:/home/atara:/bin/bash\n',
 'shikma:x:1005:1006:Shikma Lerner-Friedman,,,:/home/shikma:/bin/bash\n',
 'amotz:x:1006:1007:Amotz Lerner-Friedman,,,:/home/amotz:/bin/bash\n',
 'mysql:x:114:125:MySQL Server,,,:/nonexistent:/bin/false\n',
 'clamav:x:115:126::/var/lib/clamav:/bin/false\n',
 'amavis:x:116:127:AMaViS system user,,,:/var/lib/amavis:/bin/sh\n',
 'opendkim:x:117:128::/var/run/opendkim:/bin/false\n',
 'gitlab-redis:x:999:1009::/var/opt/gitlab/redis:/bin/nologin\n',
 'gitlab-psql:x:998:1010::/var/opt/gitlab/postgresql:/bin/sh\n',
 'git:x:1007:1008:GitLab,,,:/home/git:/bin/bash\n',
 'opendmarc:x:118:129::/var/run/opendmarc:/bin/false\n',
 'dkim-milter-python:x:119:130::/var/run/dkim-milter-python:/bin/false\n',
 'deploy:x:1008:1011:Deploy,,,:/home/deploy:/bin/bash\n',
 'redis:x:112:123:redis server,,,:/var/lib/redis:/bin/false\n']

In [28]:
# Can I get the usernames from this passwd file?

# each record contains fields
# fields are separated by ':'
# the first field is the username

[one_line.split(':')[0]
 for one_line in open('linux-etc-passwd.txt')]

['# This is a comment\n',
 '# You should ignore me\n',
 'root',
 'daemon',
 'bin',
 'sys',
 'sync',
 'games',
 'man',
 'lp',
 'mail',
 '\n',
 '\n',
 '\n',
 'news',
 'uucp',
 'proxy',
 'www-data',
 'backup',
 'list',
 'irc',
 'gnats',
 '\n',
 'nobody',
 'syslog',
 'messagebus',
 'landscape',
 'jci',
 'sshd',
 'user',
 'reuven',
 'postfix',
 'colord',
 'postgres',
 'dovecot',
 'dovenull',
 'postgrey',
 'debian-spamd',
 'memcache',
 'genadi',
 'shira',
 'atara',
 'shikma',
 'amotz',
 'mysql',
 'clamav',
 'amavis',
 'opendkim',
 'gitlab-redis',
 'gitlab-psql',
 'git',
 'opendmarc',
 'dkim-milter-python',
 'deploy',
 'redis']

In [29]:
[one_line.split(':')[0]       # expression -- SELECT
 for one_line in open('linux-etc-passwd.txt')  # iteration -- FROM
 if ':' in one_line  ]       # condition -- WHERE

['root',
 'daemon',
 'bin',
 'sys',
 'sync',
 'games',
 'man',
 'lp',
 'mail',
 'news',
 'uucp',
 'proxy',
 'www-data',
 'backup',
 'list',
 'irc',
 'gnats',
 'nobody',
 'syslog',
 'messagebus',
 'landscape',
 'jci',
 'sshd',
 'user',
 'reuven',
 'postfix',
 'colord',
 'postgres',
 'dovecot',
 'dovenull',
 'postgrey',
 'debian-spamd',
 'memcache',
 'genadi',
 'shira',
 'atara',
 'shikma',
 'amotz',
 'mysql',
 'clamav',
 'amavis',
 'opendkim',
 'gitlab-redis',
 'gitlab-psql',
 'git',
 'opendmarc',
 'dkim-milter-python',
 'deploy',
 'redis']

In [30]:
!cat nums.txt

5
	10
	20
  	3
		   	20

 25

# Exercise: Sum numbers

Use a comprehension to read through `nums.txt`, and sum the numbers it contains.

Each line of the file contains either zero integers or one integers.  The integer might well have whitespace before or after it.

In [33]:
# I have: a file whose lines (strings) contain numbers
# I want: a list of numbers
# transform from a string to an int with int()

[int(one_line.strip())
 for one_line in open('nums.txt')]

ValueError: invalid literal for int() with base 10: ''

In [34]:
int('5')

5

In [35]:
int('    5      ')

5

In [36]:
int('    ')

ValueError: invalid literal for int() with base 10: '    '

In [37]:
int('')

ValueError: invalid literal for int() with base 10: ''

In [40]:
# add a condition

sum([int(one_line)
 for one_line in open('nums.txt')
 if one_line.strip()])   # just check that the line isn't empty

83

In [41]:
sum([int(one_line)
 for one_line in open('nums.txt')
 if one_line.strip().isdigit()])   # just check that the line isn't empty

83

In [43]:
# I want to know how many vowels are a string
# how can I use a comprehension for that?

s = 'whatever'

sum([1
 for one_character in s
 if one_character in 'aeiou'])

3

In [44]:
!head shoe-data.txt

Adidas	orange	43
Nike	black	41
Adidas	black	39
New Balance	pink	41
Nike	white	44
New Balance	orange	38
Nike	pink	44
Adidas	pink	44
New Balance	orange	39
New Balance	black	43

# Exercise: Shoe dicts

`shoe-data.txt` contains 100 lines. Each line contains three fields: Brand, color, and size. Fields are separated by tabs (`'\t'`).

Use a list comprehension to turn this file into a list of dictionaries. Each line should be turned into a dict whose keys are `brand`, `color`, and `size`. The values can remain strings; don't worry about the sizes.

I recommend that you write an external function that takes a string as input and returns a dict, then invoke that in your comprehension.

The result will be a list of 

```python
[
    {'brand':'Adidas',
     'color':'black',
     'size':'45'},
    ...

]
```

In [47]:
# a simple (not working) approach

def line_to_dict(one_line):
    return one_line.split('\t')

[line_to_dict(one_line)
 for one_line in open('shoe-data.txt')]

[['Adidas', 'orange', '43\n'],
 ['Nike', 'black', '41\n'],
 ['Adidas', 'black', '39\n'],
 ['New Balance', 'pink', '41\n'],
 ['Nike', 'white', '44\n'],
 ['New Balance', 'orange', '38\n'],
 ['Nike', 'pink', '44\n'],
 ['Adidas', 'pink', '44\n'],
 ['New Balance', 'orange', '39\n'],
 ['New Balance', 'black', '43\n'],
 ['New Balance', 'orange', '44\n'],
 ['Nike', 'black', '41\n'],
 ['Adidas', 'orange', '37\n'],
 ['Adidas', 'black', '38\n'],
 ['Adidas', 'pink', '41\n'],
 ['Adidas', 'white', '36\n'],
 ['Adidas', 'orange', '36\n'],
 ['Nike', 'pink', '41\n'],
 ['Adidas', 'pink', '35\n'],
 ['New Balance', 'orange', '37\n'],
 ['Nike', 'pink', '43\n'],
 ['Nike', 'black', '43\n'],
 ['Nike', 'black', '42\n'],
 ['Nike', 'black', '35\n'],
 ['Adidas', 'black', '41\n'],
 ['New Balance', 'pink', '40\n'],
 ['Adidas', 'white', '35\n'],
 ['New Balance', 'pink', '41\n'],
 ['New Balance', 'orange', '41\n'],
 ['Adidas', 'orange', '40\n'],
 ['New Balance', 'orange', '40\n'],
 ['New Balance', 'white', '44\n'],
 ['New Balance', 'pink', '40\n'],
 ['Nike', 'black', '43\n'],
 ['Nike', 'pink', '36\n'],
 ['New Balance', 'white', '39\n'],
 ['Nike', 'black', '42\n'],
 ['Adidas', 'black', '41\n'],
 ['New Balance', 'orange', '40\n'],
 ['New Balance', 'black', '40\n'],
 ['Nike', 'white', '37\n'],
 ['Adidas', 'black', '39\n'],
 ['Adidas', 'black', '40\n'],
 ['Adidas', 'orange', '38\n'],
 ['New Balance', 'orange', '39\n'],
 ['Nike', 'black', '35\n'],
 ['Adidas', 'white', '39\n'],
 ['Nike', 'white', '37\n'],
 ['Adidas', 'orange', '37\n'],
 ['Adidas', 'pink', '35\n'],
 ['New Balance', 'orange', '41\n'],
 ['Nike', 'pink', '44\n'],
 ['Nike', 'pink', '38\n'],
 ['Adidas', 'black', '39\n'],
 ['New Balance', 'white', '35\n'],
 ['Nike', 'pink', '40\n'],
 ['Nike', 'white', '44\n'],
 ['Nike', 'orange', '38\n'],
 ['Adidas', 'orange', '42\n'],
 ['New Balance', 'orange', '43\n'],
 ['Adidas', 'pink', '39\n'],
 ['Adidas', 'pink', '41\n'],
 ['Adidas', 'pink', '39\n'],
 ['Nike', 'white', '37\n'],
 ['Nike', 'orange', '38\n'],
 ['Adidas', 'orange', '39\n'],
 ['Nike', 'pink', '40\n'],
 ['Adidas', 'white', '36\n'],
 ['Nike', 'orange', '40\n'],
 ['New Balance', 'pink', '40\n'],
 ['New Balance', 'black', '40\n'],
 ['New Balance', 'pink', '40\n'],
 ['Adidas', 'pink', '41\n'],
 ['Nike', 'pink', '40\n'],
 ['Nike', 'black', '41\n'],
 ['Nike', 'black', '39\n'],
 ['New Balance', 'white', '38\n'],
 ['Adidas', 'black', '41\n'],
 ['Nike', 'orange', '36\n'],
 ['Nike', 'black', '38\n'],
 ['New Balance', 'black', '40\n'],
 ['New Balance', 'pink', '40\n'],
 ['Adidas', 'black', '42\n'],
 ['Adidas', 'white', '40\n'],
 ['New Balance', 'orange', '38\n'],
 ['Nike', 'pink', '41\n'],
 ['Adidas', 'orange', '37\n'],
 ['Nike', 'black', '44\n'],
 ['Adidas', 'pink', '36\n'],
 ['Adidas', 'white', '35\n'],
 ['Nike', 'black', '38\n'],
 ['Nike', 'pink', '42\n'],
 ['New Balance', 'black', '43\n'],
 ['Nike', 'white', '38\n'],
 ['New Balance', 'pink', '39\n'],
 ['Nike', 'orange', '39\n'],
 ['New Balance', 'orange', '40\n'],
 ['New Balance', 'white', '44\n'],
 ['Adidas', 'black', '42\n'],
 ['Nike', 'black', '35\n']]

In [48]:
# a simple working

def line_to_dict(one_line):
    fields = one_line.split('\t')
    
    return {'brand':fields[0],
           'color':fields[1],
           'size':fields[2]}

[line_to_dict(one_line)
 for one_line in open('shoe-data.txt')]

[{'brand': 'Adidas', 'color': 'orange', 'size': '43\n'},
 {'brand': 'Nike', 'color': 'black', 'size': '41\n'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39\n'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '41\n'},
 {'brand': 'Nike', 'color': 'white', 'size': '44\n'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '38\n'},
 {'brand': 'Nike', 'color': 'pink', 'size': '44\n'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '44\n'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '39\n'},
 {'brand': 'New Balance', 'color': 'black', 'size': '43\n'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '44\n'},
 {'brand': 'Nike', 'color': 'black', 'size': '41\n'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37\n'},
 {'brand': 'Adidas', 'color': 'black', 'size': '38\n'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41\n'},
 {'brand': 'Adidas', 'color': 'white', 'size': '36\n'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '36\n'},
 {'brand': 'Nike', 'color': 'pink', 'size': '41\n'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '35\n'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '37\n'},
 {'brand': 'Nike', 'color': 'pink', 'size': '43\n'},
 {'brand': 'Nike', 'color': 'black', 'size': '43\n'},
 {'brand': 'Nike', 'color': 'black', 'size': '42\n'},
 {'brand': 'Nike', 'color': 'black', 'size': '35\n'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41\n'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40\n'},
 {'brand': 'Adidas', 'color': 'white', 'size': '35\n'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '41\n'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '41\n'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '40\n'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40\n'},
 {'brand': 'New Balance', 'color': 'white', 'size': '44\n'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40\n'},
 {'brand': 'Nike', 'color': 'black', 'size': '43\n'},
 {'brand': 'Nike', 'color': 'pink', 'size': '36\n'},
 {'brand': 'New Balance', 'color': 'white', 'size': '39\n'},
 {'brand': 'Nike', 'color': 'black', 'size': '42\n'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41\n'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40\n'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40\n'},
 {'brand': 'Nike', 'color': 'white', 'size': '37\n'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39\n'},
 {'brand': 'Adidas', 'color': 'black', 'size': '40\n'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '38\n'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '39\n'},
 {'brand': 'Nike', 'color': 'black', 'size': '35\n'},
 {'brand': 'Adidas', 'color': 'white', 'size': '39\n'},
 {'brand': 'Nike', 'color': 'white', 'size': '37\n'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37\n'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '35\n'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '41\n'},
 {'brand': 'Nike', 'color': 'pink', 'size': '44\n'},
 {'brand': 'Nike', 'color': 'pink', 'size': '38\n'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39\n'},
 {'brand': 'New Balance', 'color': 'white', 'size': '35\n'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40\n'},
 {'brand': 'Nike', 'color': 'white', 'size': '44\n'},
 {'brand': 'Nike', 'color': 'orange', 'size': '38\n'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '42\n'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '43\n'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '39\n'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41\n'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '39\n'},
 {'brand': 'Nike', 'color': 'white', 'size': '37\n'},
 {'brand': 'Nike', 'color': 'orange', 'size': '38\n'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '39\n'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40\n'},
 {'brand': 'Adidas', 'color': 'white', 'size': '36\n'},
 {'brand': 'Nike', 'color': 'orange', 'size': '40\n'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40\n'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40\n'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40\n'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41\n'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40\n'},
 {'brand': 'Nike', 'color': 'black', 'size': '41\n'},
 {'brand': 'Nike', 'color': 'black', 'size': '39\n'},
 {'brand': 'New Balance', 'color': 'white', 'size': '38\n'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41\n'},
 {'brand': 'Nike', 'color': 'orange', 'size': '36\n'},
 {'brand': 'Nike', 'color': 'black', 'size': '38\n'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40\n'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40\n'},
 {'brand': 'Adidas', 'color': 'black', 'size': '42\n'},
 {'brand': 'Adidas', 'color': 'white', 'size': '40\n'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '38\n'},
 {'brand': 'Nike', 'color': 'pink', 'size': '41\n'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37\n'},
 {'brand': 'Nike', 'color': 'black', 'size': '44\n'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '36\n'},
 {'brand': 'Adidas', 'color': 'white', 'size': '35\n'},
 {'brand': 'Nike', 'color': 'black', 'size': '38\n'},
 {'brand': 'Nike', 'color': 'pink', 'size': '42\n'},
 {'brand': 'New Balance', 'color': 'black', 'size': '43\n'},
 {'brand': 'Nike', 'color': 'white', 'size': '38\n'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '39\n'},
 {'brand': 'Nike', 'color': 'orange', 'size': '39\n'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40\n'},
 {'brand': 'New Balance', 'color': 'white', 'size': '44\n'},
 {'brand': 'Adidas', 'color': 'black', 'size': '42\n'},
 {'brand': 'Nike', 'color': 'black', 'size': '35\n'}]

In [50]:
# a little better, using unpacking

def line_to_dict(one_line):
    brand, color, size = one_line.strip().split('\t')
    
    return {'brand':brand,
           'color':color,
           'size':size}

[line_to_dict(one_line)
 for one_line in open('shoe-data.txt')]

[{'brand': 'Adidas', 'color': 'orange', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '41'},
 {'brand': 'Nike', 'color': 'white', 'size': '44'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '44'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '44'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '39'},
 {'brand': 'New Balance', 'color': 'black', 'size': '43'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '44'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Adidas', 'color': 'black', 'size': '38'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'white', 'size': '36'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '36'},
 {'brand': 'Nike', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '35'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '37'},
 {'brand': 'Nike', 'color': 'pink', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '42'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'white', 'size': '35'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '41'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'white', 'size': '44'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'pink', 'size': '36'},
 {'brand': 'New Balance', 'color': 'white', 'size': '39'},
 {'brand': 'Nike', 'color': 'black', 'size': '42'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'Adidas', 'color': 'black', 'size': '40'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '38'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '39'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'},
 {'brand': 'Adidas', 'color': 'white', 'size': '39'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '35'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '41'},
 {'brand': 'Nike', 'color': 'pink', 'size': '44'},
 {'brand': 'Nike', 'color': 'pink', 'size': '38'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'white', 'size': '35'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'white', 'size': '44'},
 {'brand': 'Nike', 'color': 'orange', 'size': '38'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '42'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '43'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '39'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '39'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Nike', 'color': 'orange', 'size': '38'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '39'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'white', 'size': '36'},
 {'brand': 'Nike', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Nike', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'white', 'size': '38'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'Nike', 'color': 'orange', 'size': '36'},
 {'brand': 'Nike', 'color': 'black', 'size': '38'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'black', 'size': '42'},
 {'brand': 'Adidas', 'color': 'white', 'size': '40'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Nike', 'color': 'black', 'size': '44'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '36'},
 {'brand': 'Adidas', 'color': 'white', 'size': '35'},
 {'brand': 'Nike', 'color': 'black', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '42'},
 {'brand': 'New Balance', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'white', 'size': '38'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '39'},
 {'brand': 'Nike', 'color': 'orange', 'size': '39'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'white', 'size': '44'},
 {'brand': 'Adidas', 'color': 'black', 'size': '42'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'}]

In [51]:
!ls *.txt

linux-etc-passwd.txt  mini-access-log.txt  nums.txt  shoe-data.txt  wcfile.txt

In [52]:
!head mini-access-log.txt

67.218.116.165 - - [30/Jan/2010:00:03:18 +0200] "GET /robots.txt HTTP/1.0" 200 99 "-" "Mozilla/5.0 (Twiceler-0.9 http://www.cuil.com/twiceler/robot.html)"
66.249.71.65 - - [30/Jan/2010:00:12:06 +0200] "GET /browse/one_node/1557 HTTP/1.1" 200 39208 "-" "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"
65.55.106.183 - - [30/Jan/2010:01:29:23 +0200] "GET /robots.txt HTTP/1.1" 200 99 "-" "msnbot/2.0b (+http://search.msn.com/msnbot.htm)"
65.55.106.183 - - [30/Jan/2010:01:30:06 +0200] "GET /browse/one_model/2162 HTTP/1.1" 200 2181 "-" "msnbot/2.0b (+http://search.msn.com/msnbot.htm)"
66.249.71.65 - - [30/Jan/2010:02:07:14 +0200] "GET /browse/browse_applet_tab/2593 HTTP/1.1" 200 10305 "-" "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"
66.249.71.65 - - [30/Jan/2010:02:10:39 +0200] "GET /browse/browse_files_tab/2499?tab=true HTTP/1.1" 200 446 "-" "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"
66.249.65.12 - - [30/Jan/2010:03:13:34 +0200] "GET /robots.txt HTTP/1.1" 200 99 "-" "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"
66.249.65.12 - - [30/Jan/2010:03:13:34 +0200] "GET /browse/one_node/2715 HTTP/1.1" 200 26433 "-" "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"
66.249.65.12 - - [30/Jan/2010:03:43:39 +0200] "GET /browse/download_model/1969 HTTP/1.1" 200 31713 "-" "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"
66.249.65.12 - - [30/Jan/2010:04:05:43 +0200] "GET /browse/one_node/1406 HTTP/1.1" 302 118 "-" "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"

In [54]:
# I want to retrieve all of the IP addresses from mini-access-log

[one_line.split()[0]
 for one_line in open('mini-access-log.txt')]

['67.218.116.165',
 '66.249.71.65',
 '65.55.106.183',
 '65.55.106.183',
 '66.249.71.65',
 '66.249.71.65',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '65.55.106.131',
 '65.55.106.131',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '65.55.106.186',
 '65.55.106.186',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '74.52.245.146',
 '74.52.245.146',
 '66.249.65.43',
 '66.249.65.43',
 '66.249.65.43',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '65.55.207.25',
 '65.55.207.25',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '65.55.207.94',
 '65.55.207.94',
 '66.249.65.12',
 '65.55.207.71',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '98.242.170.241',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '65.55.207.126',
 '65.55.207.126',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '82.34.9.20',
 '82.34.9.20',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '65.55.106.155',
 '65.55.106.155',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '65.55.207.77',
 '65.55.207.77',
 '66.249.65.38',
 '67.218.116.165',
 '66.249.65.38',
 '208.80.193.28',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '66.249.65.38',
 '65.55.207.50',
 '65.55.207.50',
 '65.55.207.50',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '65.55.215.75',
 '65.55.215.75',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38']

In [55]:
# how many times did each IP address access my server?

# Counter

In [56]:
from collections import Counter

In [57]:
# the bad, wrong way to use Counter
# is as a cheap defaultdict

c = Counter()
c['a'] += 5
c['b'] += 3
c

Counter({'a': 5, 'b': 3})

In [59]:
# the real way to use Counter is to initialize it
# with an iterable

# it will count how many times each element of that 
# iterable is there. Each element becomes a key,
# the number times becomes the value

c = Counter([one_line.split()[0]
        for one_line in open('mini-access-log.txt')])
c

Counter({'67.218.116.165': 2,
         '66.249.71.65': 3,
         '65.55.106.183': 2,
         '66.249.65.12': 32,
         '65.55.106.131': 2,
         '65.55.106.186': 2,
         '74.52.245.146': 2,
         '66.249.65.43': 3,
         '65.55.207.25': 2,
         '65.55.207.94': 2,
         '65.55.207.71': 1,
         '98.242.170.241': 1,
         '66.249.65.38': 100,
         '65.55.207.126': 2,
         '82.34.9.20': 2,
         '65.55.106.155': 2,
         '65.55.207.77': 2,
         '208.80.193.28': 1,
         '89.248.172.58': 22,
         '67.195.112.35': 16,
         '65.55.207.50': 3,
         '65.55.215.75': 2})

In [60]:
# Counter inherits from dict

for key, value in c.items():
    print(f'{key}: {value}')

67.218.116.165: 2
66.249.71.65: 3
65.55.106.183: 2
66.249.65.12: 32
65.55.106.131: 2
65.55.106.186: 2
74.52.245.146: 2
66.249.65.43: 3
65.55.207.25: 2
65.55.207.94: 2
65.55.207.71: 1
98.242.170.241: 1
66.249.65.38: 100
65.55.207.126: 2
82.34.9.20: 2
65.55.106.155: 2
65.55.207.77: 2
208.80.193.28: 1
89.248.172.58: 22
67.195.112.35: 16
65.55.207.50: 3
65.55.215.75: 2

In [62]:
for key, value in c.items():
    print(f'{key:18}: {value * "x"}')

67.218.116.165    : xx
66.249.71.65      : xxx
65.55.106.183     : xx
66.249.65.12      : xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
65.55.106.131     : xx
65.55.106.186     : xx
74.52.245.146     : xx
66.249.65.43      : xxx
65.55.207.25      : xx
65.55.207.94      : xx
65.55.207.71      : x
98.242.170.241    : x
66.249.65.38      : xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
65.55.207.126     : xx
82.34.9.20        : xx
65.55.106.155     : xx
65.55.207.77      : xx
208.80.193.28     : x
89.248.172.58     : xxxxxxxxxxxxxxxxxxxxxx
67.195.112.35     : xxxxxxxxxxxxxxxx
65.55.207.50      : xxx
65.55.215.75      : xx

In [63]:
# this is a Counter method that returns
# a list of tuples, from the most common to the least,
# based on the Counter
c.most_common()

[('66.249.65.38', 100),
 ('66.249.65.12', 32),
 ('89.248.172.58', 22),
 ('67.195.112.35', 16),
 ('66.249.71.65', 3),
 ('66.249.65.43', 3),
 ('65.55.207.50', 3),
 ('67.218.116.165', 2),
 ('65.55.106.183', 2),
 ('65.55.106.131', 2),
 ('65.55.106.186', 2),
 ('74.52.245.146', 2),
 ('65.55.207.25', 2),
 ('65.55.207.94', 2),
 ('65.55.207.126', 2),
 ('82.34.9.20', 2),
 ('65.55.106.155', 2),
 ('65.55.207.77', 2),
 ('65.55.215.75', 2),
 ('65.55.207.71', 1),
 ('98.242.170.241', 1),
 ('208.80.193.28', 1)]

In [64]:
# I can invoke most_common with an argument
# I get only that many elements in the output list

c.most_common(5)

[('66.249.65.38', 100),
 ('66.249.65.12', 32),
 ('89.248.172.58', 22),
 ('67.195.112.35', 16),
 ('66.249.71.65', 3)]

In [65]:
!ls *.txt

linux-etc-passwd.txt  mini-access-log.txt  nums.txt  shoe-data.txt  wcfile.txt

In [66]:
usernames = [one_line.split(':')[0]
            for one_line in open('linux-etc-passwd.txt')
            if ":" in one_line]

In [67]:
usernames

['root',
 'daemon',
 'bin',
 'sys',
 'sync',
 'games',
 'man',
 'lp',
 'mail',
 'news',
 'uucp',
 'proxy',
 'www-data',
 'backup',
 'list',
 'irc',
 'gnats',
 'nobody',
 'syslog',
 'messagebus',
 'landscape',
 'jci',
 'sshd',
 'user',
 'reuven',
 'postfix',
 'colord',
 'postgres',
 'dovecot',
 'dovenull',
 'postgrey',
 'debian-spamd',
 'memcache',
 'genadi',
 'shira',
 'atara',
 'shikma',
 'amotz',
 'mysql',
 'clamav',
 'amavis',
 'opendkim',
 'gitlab-redis',
 'gitlab-psql',
 'git',
 'opendmarc',
 'dkim-milter-python',
 'deploy',
 'redis']

In [68]:
# we can now search for usernames in this list using "in"

'root' in usernames

True

In [69]:
'reuven' in usernames

True

In [70]:
'asdfasfa' in usernames

False

In [71]:
# if I'm going to be searching a lot through my usernames,
# then maybe I should use a different data structure

# sets guarantee uniqueness in their members, searching is
# very fast, and all elements are hashable -- just like dict
# keys.

In [72]:
usernames = set([one_line.split(':')[0]
            for one_line in open('linux-etc-passwd.txt')
            if ":" in one_line])

In [73]:
type(usernames)

set

In [74]:
# we can use a set comprehension!

# looks almost exactly like a list comprehension
# but it uses {} instead

usernames = {one_line.split(':')[0]
            for one_line in open('linux-etc-passwd.txt')
            if ":" in one_line}

In [75]:
type(usernames)

set

In [76]:
'root' in usernames

True

# Exercise: Sum unique numbers

1. Ask the user to enter numbers, separated by whitespace
2. Print their sum, but *only count each number once*.

Example:

    Enter numbers: 10 20 30 10 20 30
    Total is 60

In [78]:
s = input('Enter numbers: ').strip()

sum({int(one_item)
    for one_item in s.split()})

Enter numbers: 10 20 30 10 20 30

60

In [79]:
!head linux-etc-passwd.txt

# This is a comment
# You should ignore me
root:x:0:0:root:/root:/bin/bash
daemon:x:1:1:daemon:/usr/sbin:/usr/sbin/nologin
bin:x:2:2:bin:/bin:/usr/sbin/nologin
sys:x:3:3:sys:/dev:/usr/sbin/nologin
sync:x:4:65534:sync:/bin:/bin/sync
games:x:5:60:games:/usr/games:/usr/sbin/nologin
man:x:6:12:man:/var/cache/man:/usr/sbin/nologin
lp:x:7:7:lp:/var/spool/lpd:/usr/sbin/nologin

# Exercise: Which shells?

Read through `linux-etc-passwd.txt`, and find the different shells that are used on the system.

In [86]:
{
    one_line.split(':')[-1].strip()
    for one_line in open('linux-etc-passwd.txt')
    if ':' in one_line
}

{'/bin/bash',
 '/bin/false',
 '/bin/nologin',
 '/bin/sh',
 '/bin/sync',
 '/usr/sbin/nologin'}

In [89]:
# I have a string with some words

# I want to create a dict where each word is the key
# and the word length is the value

s = 'this is a bunch of words'

# we can invoke dict() on a list of tuples
# and get back a dictionary!

dict([(one_word, len(one_word))
    for one_word in s.split()])

{'this': 4, 'is': 2, 'a': 1, 'bunch': 5, 'of': 2, 'words': 5}

In [90]:
# dictionary comprehension
# we use curly braces, just as with a set comprehension

# but we have *two* expressions in the first line,
# separated by a colon

{    one_word   :   len(one_word)   # key:value expression
    for one_word in s.split()
}

{'this': 4, 'is': 2, 'a': 1, 'bunch': 5, 'of': 2, 'words': 5}

In [91]:
# I'm going to create a really fast config file
# with name = value on each line

with open('myconfig.txt', 'w') as outfile:
    # outfile.__enter__()
    for index, one_character in enumerate('abcd', 1):
        outfile.write(f'{one_character}={index}\n')
    # outfile.__exit__()

In [92]:
!cat myconfig.txt

a=1
b=2
c=3
d=4

In [93]:
# I can use a dict comprehension to read this file
# into a dict!

{   one_line.split('=')[0]   : one_line.split('=')[1].strip()
    for one_line in open('myconfig.txt')
}

{'a': '1', 'b': '2', 'c': '3', 'd': '4'}

# Exercise: Usernames and shells

Use a dict comprehension to create a dict in which the keys are usernames and the values are the shells associated with those usernames in `linux-etc-passwd.txt`.

In [96]:
# start with list-tuple combo

# [(one_line.split(':')[0], one_line.split(':')[-1].strip())
# for one_line in open('linux-etc-passwd.txt')
# if ':' in one_line]


{one_line.split(':')[0]   :  one_line.split(':')[-1].strip() 
 for one_line in open('linux-etc-passwd.txt')
 if ':' in one_line }

{'root': '/bin/bash',
 'daemon': '/usr/sbin/nologin',
 'bin': '/usr/sbin/nologin',
 'sys': '/usr/sbin/nologin',
 'sync': '/bin/sync',
 'games': '/usr/sbin/nologin',
 'man': '/usr/sbin/nologin',
 'lp': '/usr/sbin/nologin',
 'mail': '/usr/sbin/nologin',
 'news': '/usr/sbin/nologin',
 'uucp': '/usr/sbin/nologin',
 'proxy': '/usr/sbin/nologin',
 'www-data': '/usr/sbin/nologin',
 'backup': '/usr/sbin/nologin',
 'list': '/usr/sbin/nologin',
 'irc': '/usr/sbin/nologin',
 'gnats': '/usr/sbin/nologin',
 'nobody': '/usr/sbin/nologin',
 'syslog': '/bin/false',
 'messagebus': '/bin/false',
 'landscape': '/bin/false',
 'jci': '/bin/bash',
 'sshd': '/usr/sbin/nologin',
 'user': '/bin/bash',
 'reuven': '/bin/bash',
 'postfix': '/bin/false',
 'colord': '/bin/false',
 'postgres': '/bin/bash',
 'dovecot': '/bin/false',
 'dovenull': '/bin/false',
 'postgrey': '/bin/false',
 'debian-spamd': '/bin/sh',
 'memcache': '/bin/false',
 'genadi': '/bin/bash',
 'shira': '/bin/bash',
 'atara': '/bin/bash',
 'shikma': '/bin/bash',
 'amotz': '/bin/bash',
 'mysql': '/bin/false',
 'clamav': '/bin/false',
 'amavis': '/bin/sh',
 'opendkim': '/bin/false',
 'gitlab-redis': '/bin/nologin',
 'gitlab-psql': '/bin/sh',
 'git': '/bin/bash',
 'opendmarc': '/bin/false',
 'dkim-milter-python': '/bin/false',
 'deploy': '/bin/bash',
 'redis': '/bin/false'}

In [102]:
{fields[0]   :  fields[-1].strip()
 for one_line in open('linux-etc-passwd.txt')
 if ':' in one_line and (fields := one_line.split(':'))}

{'root': '/bin/bash',
 'daemon': '/usr/sbin/nologin',
 'bin': '/usr/sbin/nologin',
 'sys': '/usr/sbin/nologin',
 'sync': '/bin/sync',
 'games': '/usr/sbin/nologin',
 'man': '/usr/sbin/nologin',
 'lp': '/usr/sbin/nologin',
 'mail': '/usr/sbin/nologin',
 'news': '/usr/sbin/nologin',
 'uucp': '/usr/sbin/nologin',
 'proxy': '/usr/sbin/nologin',
 'www-data': '/usr/sbin/nologin',
 'backup': '/usr/sbin/nologin',
 'list': '/usr/sbin/nologin',
 'irc': '/usr/sbin/nologin',
 'gnats': '/usr/sbin/nologin',
 'nobody': '/usr/sbin/nologin',
 'syslog': '/bin/false',
 'messagebus': '/bin/false',
 'landscape': '/bin/false',
 'jci': '/bin/bash',
 'sshd': '/usr/sbin/nologin',
 'user': '/bin/bash',
 'reuven': '/bin/bash',
 'postfix': '/bin/false',
 'colord': '/bin/false',
 'postgres': '/bin/bash',
 'dovecot': '/bin/false',
 'dovenull': '/bin/false',
 'postgrey': '/bin/false',
 'debian-spamd': '/bin/sh',
 'memcache': '/bin/false',
 'genadi': '/bin/bash',
 'shira': '/bin/bash',
 'atara': '/bin/bash',
 'shikma': '/bin/bash',
 'amotz': '/bin/bash',
 'mysql': '/bin/false',
 'clamav': '/bin/false',
 'amavis': '/bin/sh',
 'opendkim': '/bin/false',
 'gitlab-redis': '/bin/nologin',
 'gitlab-psql': '/bin/sh',
 'git': '/bin/bash',
 'opendmarc': '/bin/false',
 'dkim-milter-python': '/bin/false',
 'deploy': '/bin/bash',
 'redis': '/bin/false'}

In [103]:
# list of lists, where inner lists contain integers
mylist = [[10, 20, 25],
         [30, 35, 40, 45, 50],
         [60, 70, 80, 90, 100],
         [110, 115, 120, 130, 140, 145]]

In [104]:
mylist

[[10, 20, 25],
 [30, 35, 40, 45, 50],
 [60, 70, 80, 90, 100],
 [110, 115, 120, 130, 140, 145]]

In [105]:
# how can I sum the integers in this nested list?

# first guess: sum!  (bad guess)

sum(mylist)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [107]:
# guess 2: use a comprehension!

[one_sublist
 for one_sublist in mylist]

[[10, 20, 25],
 [30, 35, 40, 45, 50],
 [60, 70, 80, 90, 100],
 [110, 115, 120, 130, 140, 145]]

In [112]:
# nested list comprehensions!

[one_number
 for one_sublist in mylist
 for one_number in one_sublist]

[10,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 115,
 120,
 130,
 140,
 145]

In [113]:
[one_number for one_sublist in mylist for one_number in one_sublist]

[10,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 115,
 120,
 130,
 140,
 145]

In [114]:
[one_number
 for one_sublist in mylist
 if len(one_sublist) > 3
 for one_number in one_sublist]

[30, 35, 40, 45, 50, 60, 70, 80, 90, 100, 110, 115, 120, 130, 140, 145]

In [115]:
[one_number
 for one_sublist in mylist
 if len(one_sublist) > 3  # only long sublists
 for one_number in one_sublist
 if one_number % 2  ]   # only if it's odd

[35, 45, 115, 145]

In [116]:
numbers = [10, 20, 30, 35, 40, 50, 55, 60, 70]

[one_number
 for one_number in numbers
 if one_number > 40
 if one_number % 2]

[55]

In [117]:
!ls

'PyCon - 2023-04April-19-comprehensions.ipynb'	 movies.dat
 README.md					 myconfig.txt
 README.md~					 nums.txt
 advanced-exercise-files.zip			 shoe-data.txt
 exercise-files.zip				 taxi.csv
 linux-etc-passwd.txt				 wcfile.txt
 mini-access-log.txt

In [118]:
# download the movies.dat file from here:
# https://files.lerner.co.il/advanced-exercise-files.zip

In [119]:
!head movies.dat

1::Toy Story (1995)::Animation|Children's|Comedy
2::Jumanji (1995)::Adventure|Children's|Fantasy
3::Grumpier Old Men (1995)::Comedy|Romance
4::Waiting to Exhale (1995)::Comedy|Drama
5::Father of the Bride Part II (1995)::Comedy
6::Heat (1995)::Action|Crime|Thriller
7::Sabrina (1995)::Comedy|Romance
8::Tom and Huck (1995)::Adventure|Children's
9::Sudden Death (1995)::Action
10::GoldenEye (1995)::Action|Adventure|Thriller

# Exercise: Movie genres

Goal: Find out what the 5 most popular movie genres are in `movies.dat`

Use a nested comprehension to read through the file, find the appropriate fields and lines, and then use `Counter` to find the most common genres.

If a movie has more than one genre, each should be counted once.

Hint: You'll want to hand `Counter` a list of genres from the file.

In [120]:
[one_line
 for one_line in open('movies.dat')]

["1::Toy Story (1995)::Animation|Children's|Comedy\n",
 "2::Jumanji (1995)::Adventure|Children's|Fantasy\n",
 '3::Grumpier Old Men (1995)::Comedy|Romance\n',
 '4::Waiting to Exhale (1995)::Comedy|Drama\n',
 '5::Father of the Bride Part II (1995)::Comedy\n',
 '6::Heat (1995)::Action|Crime|Thriller\n',
 '7::Sabrina (1995)::Comedy|Romance\n',
 "8::Tom and Huck (1995)::Adventure|Children's\n",
 '9::Sudden Death (1995)::Action\n',
 '10::GoldenEye (1995)::Action|Adventure|Thriller\n',
 '11::American President, The (1995)::Comedy|Drama|Romance\n',
 '12::Dracula: Dead and Loving It (1995)::Comedy|Horror\n',
 "13::Balto (1995)::Animation|Children's\n",
 '14::Nixon (1995)::Drama\n',
 '15::Cutthroat Island (1995)::Action|Adventure|Romance\n',
 '16::Casino (1995)::Drama|Thriller\n',
 '17::Sense and Sensibility (1995)::Drama|Romance\n',
 '18::Four Rooms (1995)::Thriller\n',
 '19::Ace Ventura: When Nature Calls (1995)::Comedy\n',
 '20::Money Train (1995)::Action\n',
 '21::Get Shorty (1995)::Action|Comedy|Drama\n',
 '22::Copycat (1995)::Crime|Drama|Thriller\n',
 '23::Assassins (1995)::Thriller\n',
 '24::Powder (1995)::Drama|Sci-Fi\n',
 '25::Leaving Las Vegas (1995)::Drama|Romance\n',
 '26::Othello (1995)::Drama\n',
 '27::Now and Then (1995)::Drama\n',
 '28::Persuasion (1995)::Romance\n',
 '29::City of Lost Children, The (1995)::Adventure|Sci-Fi\n',
 '30::Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)::Drama\n',
 '31::Dangerous Minds (1995)::Drama\n',
 '32::Twelve Monkeys (1995)::Drama|Sci-Fi\n',
 '33::Wings of Courage (1995)::Adventure|Romance\n',
 "34::Babe (1995)::Children's|Comedy|Drama\n",
 '35::Carrington (1995)::Drama|Romance\n',
 '36::Dead Man Walking (1995)::Drama\n',
 '37::Across the Sea of Time (1995)::Documentary\n',
 '38::It Takes Two (1995)::Comedy\n',
 '39::Clueless (1995)::Comedy|Romance\n',
 '40::Cry, the Beloved Country (1995)::Drama\n',
 '41::Richard III (1995)::Drama|War\n',
 '42::Dead Presidents (1995)::Action|Crime|Drama\n',
 '43::Restoration (1995)::Drama\n',
 '44::Mortal Kombat (1995)::Action|Adventure\n',
 '45::To Die For (1995)::Comedy|Drama\n',
 '46::How to Make an American Quilt (1995)::Drama|Romance\n',
 '47::Seven (Se7en) (1995)::Crime|Thriller\n',
 "48::Pocahontas (1995)::Animation|Children's|Musical|Romance\n",
 '49::When Night Is Falling (1995)::Drama|Romance\n',
 '50::Usual Suspects, The (1995)::Crime|Thriller\n',
 '51::Guardian Angel (1994)::Action|Drama|Thriller\n',
 '52::Mighty Aphrodite (1995)::Comedy\n',
 '53::Lamerica (1994)::Drama\n',
 "54::Big Green, The (1995)::Children's|Comedy\n",
 '55::Georgia (1995)::Drama\n',
 "56::Kids of the Round Table (1995)::Adventure|Children's|Fantasy\n",
 '57::Home for the Holidays (1995)::Drama\n',
 '58::Postino, Il (The Postman) (1994)::Drama|Romance\n',
 '59::Confessional, The (Le Confessionnal) (1995)::Drama|Mystery\n',
 "60::Indian in the Cupboard, The (1995)::Adventure|Children's|Fantasy\n",
 '61::Eye for an Eye (1996)::Drama|Thriller\n',
 "62::Mr. Holland's Opus (1995)::Drama\n",
 "63::Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)::Comedy\n",
 '64::Two if by Sea (1996)::Comedy|Romance\n',
 '65::Bio-Dome (1996)::Comedy\n',
 '66::Lawnmower Man 2: Beyond Cyberspace (1996)::Sci-Fi|Thriller\n',
 '67::Two Bits (1995)::Drama\n',
 '68::French Twist (Gazon maudit) (1995)::Comedy|Romance\n',
 '69::Friday (1995)::Comedy\n',
 '70::From Dusk Till Dawn (1996)::Action|Comedy|Crime|Horror|Thriller\n',
 '71::Fair Game (1995)::Action\n',
 '72::Kicking and Screaming (1995)::Comedy|Drama\n',
 '73::Misrables, Les (1995)::Drama|Musical\n',
 '74::Bed of Roses (1996)::Drama|Romance\n',
 '75::Big Bully (1996)::Comedy|Drama\n',
 '76::Screamers (1995)::Sci-Fi|Thriller\n',
 '77::Nico Icon (1995)::Documentary\n',
 '78::Crossing Guard, The (1995)::Drama\n',
 '79::Juror, The (1996)::Drama|Thriller\n',
 '80::White Balloon, The (Badkonake Sefid ) (1995)::Drama\n',
 "81::Things to Do in Denver when You're Dead (1995)::Crime|Drama|Romance\n",
 "82::Antonia's Line (Antonia) (1995)::Drama\n",
 '83::Once Upon a Time... When We Were Colored (1995)::Drama\n',
 '84::Last Summer in the Hamptons (1995)::Comedy|Drama\n',
 '85::Angels and Insects (1995)::Drama|Romance\n',
 '86::White Squall (1996)::Adventure|Drama\n',
 "87::Dunston Checks In (1996)::Children's|Comedy\n",
 '88::Black Sheep (1996)::Comedy\n',
 '89::Nick of Time (1995)::Action|Thriller\n',
 '90::Journey of August King, The (1995)::Drama\n',
 '92::Mary Reilly (1996)::Drama|Thriller\n',
 '93::Vampire in Brooklyn (1995)::Comedy|Romance\n',
 '94::Beautiful Girls (1996)::Drama\n',
 '95::Broken Arrow (1996)::Action|Thriller\n',
 '96::In the Bleak Midwinter (1995)::Comedy\n',
 '97::Hate (Haine, La) (1995)::Drama\n',
 '98::Shopping (1994)::Action|Thriller\n',
 '99::Heidi Fleiss: Hollywood Madam (1995)::Documentary\n',
 '100::City Hall (1996)::Drama|Thriller\n',
 '101::Bottle Rocket (1996)::Comedy\n',
 '102::Mr. Wrong (1996)::Comedy\n',
 '103::Unforgettable (1996)::Thriller\n',
 '104::Happy Gilmore (1996)::Comedy\n',
 '105::Bridges of Madison County, The (1995)::Drama|Romance\n',
 '106::Nobody Loves Me (Keiner liebt mich) (1994)::Comedy|Drama\n',
 "107::Muppet Treasure Island (1996)::Adventure|Children's|Comedy|Musical\n",
 '108::Catwalk (1995)::Documentary\n',
 '109::Headless Body in Topless Bar (1995)::Comedy\n',
 '110::Braveheart (1995)::Action|Drama|War\n',
 '111::Taxi Driver (1976)::Drama|Thriller\n',
 '112::Rumble in the Bronx (1995)::Action|Adventure|Crime\n',
 '113::Before and After (1996)::Drama|Mystery\n',
 "114::Margaret's Museum (1995)::Drama\n",
 '115::Happiness Is in the Field (1995)::Comedy\n',
 '116::Anne Frank Remembered (1995)::Documentary\n',
 "117::Young Poisoner's Handbook, The (1995)::Crime\n",
 '118::If Lucy Fell (1996)::Comedy|Romance\n',
 '119::Steal Big, Steal Little (1995)::Comedy\n',
 '120::Race the Sun (1996)::Drama\n',
 '121::Boys of St. Vincent, The (1993)::Drama\n',
 '122::Boomerang (1992)::Comedy|Romance\n',
 '123::Chungking Express (1994)::Drama|Mystery|Romance\n',
 "124::Star Maker, The (Uomo delle stelle, L') (1995)::Drama\n",
 '125::Flirting With Disaster (1996)::Comedy\n',
 "126::NeverEnding Story III, The (1994)::Adventure|Children's|Fantasy\n",
 '127::Silence of the Palace, The (Saimt el Qusur) (1994)::Drama\n',
 "128::Jupiter's Wife (1994)::Documentary\n",
 '129::Pie in the Sky (1995)::Comedy|Romance\n',
 '130::Angela (1995)::Drama\n',
 '131::Frankie Starlight (1995)::Drama|Romance\n',
 '132::Jade (1995)::Thriller\n',
 '133::Nueba Yol (1995)::Comedy|Drama\n',
 '134::Sonic Outlaws (1995)::Documentary\n',
 '135::Down Periscope (1996)::Comedy\n',
 '136::From the Journals of Jean Seberg (1995)::Documentary\n',
 '137::Man of the Year (1995)::Documentary\n',
 '138::Neon Bible, The (1995)::Drama\n',
 '139::Target (1995)::Action|Drama\n',
 '140::Up Close and Personal (1996)::Drama|Romance\n',
 '141::Birdcage, The (1996)::Comedy\n',
 '142::Shadows (Cienie) (1988)::Drama\n',
 '143::Gospa (1995)::Drama\n',
 '144::Brothers McMullen, The (1995)::Comedy\n',
 '145::Bad Boys (1995)::Action\n',
 "146::Amazing Panda Adventure, The (1995)::Adventure|Children's\n",
 '147::Basketball Diaries, The (1995)::Drama\n',
 '148::Awfully Big Adventure, An (1995)::Drama\n',
 '149::Amateur (1994)::Crime|Drama|Thriller\n',
 '150::Apollo 13 (1995)::Drama\n',
 '151::Rob Roy (1995)::Drama|Romance|War\n',
 '152::Addiction, The (1995)::Horror\n',
 '153::Batman Forever (1995)::Action|Adventure|Comedy|Crime\n',
 '154::Belle de jour (1967)::Drama\n',
 '155::Beyond Rangoon (1995)::Drama|War\n',
 '156::Blue in the Face (1995)::Comedy\n',
 '157::Canadian Bacon (1994)::Comedy|War\n',
 "158::Casper (1995)::Adventure|Children's\n",
 '159::Clockers (1995)::Drama\n',
 '160::Congo (1995)::Action|Adventure|Mystery|Sci-Fi\n',
 '161::Crimson Tide (1995)::Drama|Thriller|War\n',
 '162::Crumb (1994)::Documentary\n',
 '163::Desperado (1995)::Action|Romance|Thriller\n',
 '164::Devil in a Blue Dress (1995)::Crime|Film-Noir|Mystery|Thriller\n',
 '165::Die Hard: With a Vengeance (1995)::Action|Thriller\n',
 '166::Doom Generation, The (1995)::Comedy|Drama\n',
 '167::Feast of July (1995)::Drama\n',
 '168::First Knight (1995)::Action|Adventure|Drama|Romance\n',
 "169::Free Willy 2: The Adventure Home (1995)::Adventure|Children's|Drama\n",
 '170::Hackers (1995)::Action|Crime|Thriller\n',
 '171::Jeffrey (1995)::Comedy\n',
 '172::Johnny Mnemonic (1995)::Action|Sci-Fi|Thriller\n',
 '173::Judge Dredd (1995)::Action|Adventure|Sci-Fi\n',
 '174::Jury Duty (1995)::Comedy\n',
 '175::Kids (1995)::Drama\n',
 '176::Living in Oblivion (1995)::Comedy\n',
 '177::Lord of Illusions (1995)::Horror\n',
 '178::Love & Human Remains (1993)::Comedy\n',
 '179::Mad Love (1995)::Drama|Romance\n',
 '180::Mallrats (1995)::Comedy\n',
 "181::Mighty Morphin Power Rangers: The Movie (1995)::Action|Children's\n",
 '182::Moonlight and Valentino (1995)::Drama|Romance\n',
 '183::Mute Witness (1994)::Thriller\n',
 '184::Nadja (1994)::Drama\n',
 '185::Net, The (1995)::Sci-Fi|Thriller\n',
 '186::Nine Months (1995)::Comedy\n',
 '187::Party Girl (1995)::Comedy\n',
 '188::Prophecy, The (1995)::Horror\n',
 '189::Reckless (1995)::Comedy\n',
 '190::Safe (1995)::Thriller\n',
 '191::Scarlet Letter, The (1995)::Drama\n',
 '192::Show, The (1995)::Documentary\n',
 '193::Showgirls (1995)::Drama\n',
 '194::Smoke (1995)::Drama\n',
 '195::Something to Talk About (1995)::Comedy|Drama|Romance\n',
 '196::Species (1995)::Horror|Sci-Fi\n',
 '197::Stars Fell on Henrietta, The (1995)::Drama\n',
 '198::Strange Days (1995)::Action|Crime|Sci-Fi\n',
 '199::Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)::Drama|Musical\n',
 '200::Tie That Binds, The (1995)::Thriller\n',
 '201::Three Wishes (1995)::Drama\n',
 '202::Total Eclipse (1995)::Drama|Romance\n',
 '203::To Wong Foo, Thanks for Everything! Julie Newmar (1995)::Comedy\n',
 '204::Under Siege 2: Dark Territory (1995)::Action\n',
 '205::Unstrung Heroes (1995)::Comedy|Drama\n',
 '206::Unzipped (1995)::Documentary\n',
 '207::Walk in the Clouds, A (1995)::Drama|Romance\n',
 '208::Waterworld (1995)::Action|Adventure\n',
 "209::White Man's Burden (1995)::Drama\n",
 '210::Wild Bill (1995)::Western\n',
 '211::Browning Version, The (1994)::Drama\n',
 '212::Bushwhacked (1995)::Comedy\n',
 '213::Burnt By the Sun (Utomlyonnye solntsem) (1994)::Drama\n',
 '214::Before the Rain (Pred dozhdot) (1994)::Drama\n',
 '215::Before Sunrise (1995)::Drama|Romance\n',
 '216::Billy Madison (1995)::Comedy\n',
 '217::Babysitter, The (1995)::Drama|Thriller\n',
 '218::Boys on the Side (1995)::Comedy|Drama\n',
 '219::Cure, The (1995)::Drama\n',
 '220::Castle Freak (1995)::Horror\n',
 '222::Circle of Friends (1995)::Drama|Romance\n',
 '223::Clerks (1994)::Comedy\n',
 '224::Don Juan DeMarco (1995)::Comedy|Drama|Romance\n',
 '225::Disclosure (1994)::Drama|Thriller\n',
 '226::Dream Man (1995)::Thriller\n',
 '227::Drop Zone (1994)::Action\n',
 '228::Destiny Turns on the Radio (1995)::Comedy\n',
 '229::Death and the Maiden (1994)::Drama|Thriller\n',
 '230::Dolores Claiborne (1994)::Drama|Thriller\n',
 '231::Dumb & Dumber (1994)::Comedy\n',
 '232::Eat Drink Man Woman (1994)::Comedy|Drama\n',
 '233::Exotica (1994)::Drama\n',
 '234::Exit to Eden (1994)::Comedy\n',
 '235::Ed Wood (1994)::Comedy|Drama\n',
 '236::French Kiss (1995)::Comedy|Romance\n',
 '237::Forget Paris (1995)::Comedy|Romance\n',
 "238::Far From Home: The Adventures of Yellow Dog (1995)::Adventure|Children's\n",
 "239::Goofy Movie, A (1995)::Animation|Children's|Comedy|Romance\n",
 '240::Hideaway (1995)::Thriller\n',
 "241::Fluke (1995)::Children's|Drama\n",
 '242::Farinelli: il castrato (1994)::Drama|Musical\n',
 '243::Gordy (1995)::Comedy\n',
 "244::Gumby: The Movie (1995)::Animation|Children's\n",
 '245::Glass Shield, The (1994)::Crime|Drama\n',
 '246::Hoop Dreams (1994)::Documentary\n',
 '247::Heavenly Creatures (1994)::Drama|Fantasy|Romance|Thriller\n',
 '248::Houseguest (1994)::Comedy\n',
 '249::Immortal Beloved (1994)::Drama|Romance\n',
 "250::Heavyweights (1994)::Children's|Comedy\n",
 '251::Hunted, The (1995)::Action\n',
 '252::I.Q. (1994)::Comedy|Romance\n',
 '253::Interview with the Vampire (1994)::Drama|Horror\n',
 '254::Jefferson in Paris (1995)::Drama\n',
 '255::Jerky Boys, The (1994)::Comedy\n',
 '256::Junior (1994)::Comedy|Sci-Fi\n',
 '257::Just Cause (1995)::Mystery|Thriller\n',
 "258::Kid in King Arthur's Court, A (1995)::Adventure|Children's|Comedy|Fantasy|Romance\n",
 '259::Kiss of Death (1995)::Crime|Drama|Thriller\n',
 '260::Star Wars: Episode IV - A New Hope (1977)::Action|Adventure|Fantasy|Sci-Fi\n',
 '261::Little Women (1994)::Drama\n',
 "262::Little Princess, A (1995)::Children's|Drama\n",
 '263::Ladybird Ladybird (1994)::Drama\n',
 "264::Enfer, L' (1994)::Drama\n",
 '265::Like Water for Chocolate (Como agua para chocolate) (1992)::Drama|Romance\n',
 '266::Legends of the Fall (1994)::Drama|Romance|War|Western\n',
 '267::Major Payne (1994)::Comedy\n',
 '268::Little Odessa (1994)::Drama\n',
 '269::My Crazy Life (Mi vida loca) (1993)::Drama\n',
 '270::Love Affair (1994)::Drama|Romance\n',
 '271::Losing Isaiah (1995)::Drama\n',
 '272::Madness of King George, The (1994)::Drama\n',
 "273::Mary Shelley's Frankenstein (1994)::Drama|Horror\n",
 '274::Man of the House (1995)::Comedy\n',
 '275::Mixed Nuts (1994)::Comedy\n',
 '276::Milk Money (1994)::Comedy|Romance\n',
 '277::Miracle on 34th Street (1994)::Drama\n',
 '278::Miami Rhapsody (1995)::Comedy\n',
 '279::My Family (1995)::Drama\n',
 '280::Murder in the First (1995)::Drama|Thriller\n',
 "281::Nobody's Fool (1994)::Drama\n",
 '282::Nell (1994)::Drama\n',
 '283::New Jersey Drive (1995)::Crime|Drama\n',
 '284::New York Cop (1996)::Action|Crime\n',
 '285::Beyond Bedlam (1993)::Drama|Horror\n',
 '286::Nemesis 2: Nebula (1995)::Action|Sci-Fi|Thriller\n',
 '287::Nina Takes a Lover (1994)::Comedy|Romance\n',
 '288::Natural Born Killers (1994)::Action|Thriller\n',
 '289::Only You (1994)::Comedy|Romance\n',
 '290::Once Were Warriors (1994)::Crime|Drama\n',
 '291::Poison Ivy II (1995)::Thriller\n',
 '292::Outbreak (1995)::Action|Drama|Thriller\n',
 '293::Professional, The (a.k.a. Leon: The Professional) (1994)::Crime|Drama|Romance|Thriller\n',
 '294::Perez Family, The (1995)::Comedy|Romance\n',
 "295::Pyromaniac's Love Story, A (1995)::Comedy|Romance\n",
 '296::Pulp Fiction (1994)::Crime|Drama\n',
 '297::Panther (1995)::Drama\n',
 '298::Pushing Hands (1992)::Comedy\n',
 '299::Priest (1994)::Drama\n',
 '300::Quiz Show (1994)::Drama\n',
 '301::Picture Bride (1995)::Drama|Romance\n',
 '302::Queen Margot (La Reine Margot) (1994)::Drama|Romance\n',
 '303::Quick and the Dead, The (1995)::Action|Adventure|Western\n',
 '304::Roommates (1995)::Comedy|Drama\n',
 '305::Ready to Wear (Pret-A-Porter) (1994)::Comedy\n',
 '306::Three Colors: Red (1994)::Drama\n',
 '307::Three Colors: Blue (1993)::Drama\n',
 '308::Three Colors: White (1994)::Drama\n',
 '309::Red Firecracker, Green Firecracker (1994)::Drama\n',
 '310::Rent-a-Kid (1995)::Comedy\n',
 '311::Relative Fear (1994)::Horror|Thriller\n',
 '312::Stuart Saves His Family (1995)::Comedy\n',
 "313::Swan Princess, The (1994)::Animation|Children's\n",
 '314::Secret of Roan Inish, The (1994)::Drama\n',
 '315::Specialist, The (1994)::Action\n',
 '316::Stargate (1994)::Action|Adventure|Sci-Fi\n',
 "317::Santa Clause, The (1994)::Children's|Comedy|Fantasy\n",
 '318::Shawshank Redemption, The (1994)::Drama\n',
 '319::Shallow Grave (1994)::Thriller\n',
 '320::Suture (1993)::Film-Noir|Thriller\n',
 '321::Strawberry and Chocolate (Fresa y chocolate) (1993)::Drama\n',
 '322::Swimming with Sharks (1995)::Comedy|Drama\n',
 '324::Sum of Us, The (1994)::Comedy\n',
 "325::National Lampoon's Senior Trip (1995)::Comedy\n",
 '326::To Live (Huozhe) (1994)::Drama\n',
 '327::Tank Girl (1995)::Action|Comedy|Musical|Sci-Fi\n',
 '328::Tales From the Crypt Presents: Demon Knight (1995)::Horror\n',
 '329::Star Trek: Generations (1994)::Action|Adventure|Sci-Fi\n',
 '330::Tales from the Hood (1995)::Comedy|Horror\n',
 '331::Tom & Viv (1994)::Drama\n',
 '332::Village of the Damned (1995)::Horror|Sci-Fi\n',
 '333::Tommy Boy (1995)::Comedy\n',
 '334::Vanya on 42nd Street (1994)::Drama\n',
 '335::Underneath, The (1995)::Mystery|Thriller\n',
 '336::Walking Dead, The (1995)::Drama|War\n',
 "337::What's Eating Gilbert Grape (1993)::Drama\n",
 '338::Virtuosity (1995)::Sci-Fi|Thriller\n',
 '339::While You Were Sleeping (1995)::Comedy|Romance\n',
 '340::War, The (1994)::Adventure|Drama\n',
 '341::Double Happiness (1994)::Drama\n',
 "342::Muriel's Wedding (1994)::Comedy|Romance\n",
 "343::Baby-Sitters Club, The (1995)::Children's\n",
 '344::Ace Ventura: Pet Detective (1994)::Comedy\n',
 '345::Adventures of Priscilla, Queen of the Desert, The (1994)::Comedy|Drama\n',
 '346::Backbeat (1993)::Drama|Musical\n',
 '347::Bitter Moon (1992)::Drama\n',
 '348::Bullets Over Broadway (1994)::Comedy\n',
 '349::Clear and Present Danger (1994)::Action|Adventure|Thriller\n',
 '350::Client, The (1994)::Drama|Mystery|Thriller\n',
 '351::Corrina, Corrina (1994)::Comedy|Drama|Romance\n',
 '352::Crooklyn (1994)::Comedy\n',
 '353::Crow, The (1994)::Action|Romance|Thriller\n',
 '354::Cobb (1994)::Drama\n',
 "355::Flintstones, The (1994)::Children's|Comedy\n",
 '356::Forrest Gump (1994)::Comedy|Romance|War\n',
 '357::Four Weddings and a Funeral (1994)::Comedy|Romance\n',
 '358::Higher Learning (1995)::Drama\n',
 '359::I Like It Like That (1994)::Comedy|Drama|Romance\n',
 '360::I Love Trouble (1994)::Action|Comedy\n',
 '361::It Could Happen to You (1994)::Drama|Romance\n',
 "362::Jungle Book, The (1994)::Adventure|Children's|Romance\n",
 '363::Wonderful, Horrible Life of Leni Riefenstahl, The (Die Macht der Bilder) (1993)::Documentary\n',
 "364::Lion King, The (1994)::Animation|Children's|Musical\n",
 '365::Little Buddha (1993)::Drama\n',
 "366::Wes Craven's New Nightmare (1994)::Horror\n",
 '367::Mask, The (1994)::Comedy|Crime|Fantasy\n',
 '368::Maverick (1994)::Action|Comedy|Western\n',
 '369::Mrs. Parker and the Vicious Circle (1994)::Drama\n',
 '370::Naked Gun 33 1/3: The Final Insult (1994)::Comedy\n',
 '371::Paper, The (1994)::Comedy|Drama\n',
 '372::Reality Bites (1994)::Comedy|Drama\n',
 '373::Red Rock West (1992)::Thriller\n',
 "374::Richie Rich (1994)::Children's|Comedy\n",
 '375::Safe Passage (1994)::Drama\n',
 '376::River Wild, The (1994)::Action|Thriller\n',
 '377::Speed (1994)::Action|Romance|Thriller\n',
 '378::Speechless (1994)::Comedy|Romance\n',
 '379::Timecop (1994)::Action|Sci-Fi\n',
 '380::True Lies (1994)::Action|Adventure|Comedy|Romance\n',
 '381::When a Man Loves a Woman (1994)::Drama\n',
 '382::Wolf (1994)::Drama|Horror\n',
 '383::Wyatt Earp (1994)::Western\n',
 '384::Bad Company (1995)::Action\n',
 '385::Man of No Importance, A (1994)::Drama\n',
 '386::S.F.W. (1994)::Drama\n',
 '387::Low Down Dirty Shame, A (1994)::Action|Comedy\n',
 '388::Boys Life (1995)::Drama\n',
 '389::Colonel Chabert, Le (1994)::Drama|Romance|War\n',
 '390::Faster Pussycat! Kill! Kill! (1965)::Action|Comedy|Drama\n',
 "391::Jason's Lyric (1994)::Crime|Drama\n",
 "392::Secret Adventures of Tom Thumb, The (1993)::Adventure|Children's\n",
 '393::Street Fighter (1994)::Action\n',
 '394::Coldblooded (1995)::Action\n',
 '395::Desert Winds (1995)::Drama\n',
 '396::Fall Time (1995)::Drama\n',
 '397::Fear, The (1995)::Horror\n',
 '398::Frank and Ollie (1995)::Documentary\n',
 '399::Girl in the Cadillac (1995)::Drama\n',
 '400::Homage (1995)::Drama\n',
 '401::Mirage (1995)::Action|Thriller\n',
 '402::Open Season (1996)::Comedy\n',
 '403::Two Crimes (1995)::Comedy|Crime|Drama\n',
 '404::Brother Minister: The Assassination of Malcolm X (1994)::Documentary\n',
 '405::Highlander III: The Sorcerer (1994)::Action|Sci-Fi\n',
 '406::Federal Hill (1994)::Drama\n',
 '407::In the Mouth of Madness (1995)::Horror|Thriller\n',
 '408::8 Seconds (1994)::Drama\n',
 '409::Above the Rim (1994)::Drama\n',
 '410::Addams Family Values (1993)::Comedy\n',
 '411::You So Crazy (1994)::Comedy\n',