GitHub repo for this course:

https://github.com/reuven/PyCon-04April-19-comprehensions

# Agenda

1. What are comprehensions?
2. List comprehensions
3. List comprehensions and files
4. Set comprehensions
5. Dict comprehensions
6. Nested comprehensions
7. Generator expressions

In [2]:
# I have a list of integers 
# I want to create a list of those integers squared

numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
output = []

for one_number in numbers:
    output.append(one_number ** 2)
    
output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# what is another way to do this?
# list comprehension

[one_number ** 2 for one_number in numbers]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# List comprehension

Much easier to write (and understand) if we pick it apart
and write it on multiple lines.

In a comprehension, the *first* thing that runs is the loop, and the second thing is the expression.

The result of a list comprehension is a list.  We have created a new list! We can pass it as an argument to a function, or assign it to a variable.

The new list is the result of evaluating our expression on every element of the input list.

As a result, the output list will have the same number of elements as the input list.

In [5]:
[one_number ** 2             # expression -- any Python expression
 for one_number in numbers]  # iteration -- any Python loop

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# When use a loop, and when a comprehension?

The big distinction is between getting a new value back and having side effects.

Meaning:

If you have an existing list, and you want a new list, and you can describe the mapping from the first to the second, then you should use a comprehension.

I want the list!

But... if you are assigning repeatedly, if you are modifying things repeatedly.. then use a regular `for` loop.

In [6]:
# Let's say that I have a list of strings

mylist = ['abcd', 'ef', 'ghi']

# I want to have a new string based on mylist with '*' between
# the elements

'*'.join(mylist)

'abcd*ef*ghi'

In [7]:
# what if I have a list of integers?

mylist = [10, 20, 30]

'*'.join(mylist)

TypeError: sequence item 0: expected str instance, int found

In [8]:
# we have: a list of integers
# we want: a list of strings
# we can convert one int to one string with str()

[str(one_item)
 for one_item in mylist]

['10', '20', '30']

In [9]:
'*'.join([str(one_item)
         for one_item in mylist])

'10*20*30'

In [10]:
# I have a string, and I want to capitalize the start
# of each word

s = 'This is a sample sentence for my tutorial'

s.title()

'This Is A Sample Sentence For My Tutorial'

In [11]:
# what if str.title didn't exist? Could I still do
# something like this?

# what if, for example, I were to break the string
# into individual words?

# I have: a list of strings
# I want: a list of strings whose first letters are capitalized
# I can use: str.capitalize 

[one_word.capitalize()
 for one_word in s.split()]

['This', 'Is', 'A', 'Sample', 'Sentence', 'For', 'My', 'Tutorial']

In [12]:
' '.join([one_word.capitalize()
         for one_word in s.split()])

'This Is A Sample Sentence For My Tutorial'

# Exercises:

1. Ask the user to enter a string containing numbers, separated by spaces. Add those numbers together (as integers), and print the result.  It's OK to use the builtin `sum` function.

2. Ask the user to enter a string, and print the length of the string, except for whitespace. It's *not* OK to use `str.replace`.

In [13]:
s = input('Enter numbers, separated by whitespace: ').strip()

Enter numbers, separated by whitespace: 10 20 30 40 45

In [14]:
s

'10 20 30 40 45'

In [15]:
sum(s)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
# what I have: a list of strings, containing digits
# what I want: the sum of the integers in that string
# I can transform one to the other with int

[int(one_item)
for one_item in s.split()]

[10, 20, 30, 40, 45]

In [17]:
sum([int(one_item)
    for one_item in s.split()])

145

In [18]:
sum([int(one_item)
    for one_item in s])

ValueError: invalid literal for int() with base 10: ' '

In [19]:
# find the lengths of the words (not the whitespace)
# in the user's input

s = input('Enter a sentence: ').strip()

len(s)  # how many characters in the entire sentence?

Enter a sentence: this is a test sentence

23

In [22]:
# how long is this, if we ignore the whitespace?

# if I use s.split(), I get a list of strings
# without any whitespace

# I have: a list of strings
# I want: the sum of their lengths
# I can apply: len

sum([len(one_word)
    for one_word in s.split()])

19

In [23]:
s = '    a    b    c     '

s.strip()

'a    b    c'

In [25]:
s = '10 20 30'

[int(one_item)             # expression --  SELECT
for one_item in s.split()] # iteration  --  FROM

[10, 20, 30]

In [26]:
# I have a string with words
# I want to print each word with stars around it!

s = 'this is fantastic'

[print(f'*{one_word}*')
for one_word in s.split()]

*this*
*is*
*fantastic*

[None, None, None]

The list that we get back from a comprehension contains the values that the expression returned.

`print` always returns `None`, no matter what you print.

Here, it printed on the screen, but it returned `None`, which affected our output comprehension rather dramatically.

In [27]:
# how about iterating over files?

[one_line
 for one_line in open('linux-etc-passwd.txt')]

['# This is a comment\n',
 '# You should ignore me\n',
 'root:x:0:0:root:/root:/bin/bash\n',
 'daemon:x:1:1:daemon:/usr/sbin:/usr/sbin/nologin\n',
 'bin:x:2:2:bin:/bin:/usr/sbin/nologin\n',
 'sys:x:3:3:sys:/dev:/usr/sbin/nologin\n',
 'sync:x:4:65534:sync:/bin:/bin/sync\n',
 'games:x:5:60:games:/usr/games:/usr/sbin/nologin\n',
 'man:x:6:12:man:/var/cache/man:/usr/sbin/nologin\n',
 'lp:x:7:7:lp:/var/spool/lpd:/usr/sbin/nologin\n',
 'mail:x:8:8:mail:/var/mail:/usr/sbin/nologin\n',
 '\n',
 '\n',
 '\n',
 'news:x:9:9:news:/var/spool/news:/usr/sbin/nologin\n',
 'uucp:x:10:10:uucp:/var/spool/uucp:/usr/sbin/nologin\n',
 'proxy:x:13:13:proxy:/bin:/usr/sbin/nologin\n',
 'www-data:x:33:33:www-data:/var/www:/usr/sbin/nologin\n',
 'backup:x:34:34:backup:/var/backups:/usr/sbin/nologin\n',
 'list:x:38:38:Mailing List Manager:/var/list:/usr/sbin/nologin\n',
 'irc:x:39:39:ircd:/var/run/ircd:/usr/sbin/nologin\n',
 'gnats:x:41:41:Gnats Bug-Reporting System (admin):/var/lib/gnats:/usr/sbin/nologin\n',
 '\n',
 'nobody:x:65534:65534:nobody:/nonexistent:/usr/sbin/nologin\n',
 'syslog:x:101:104::/home/syslog:/bin/false\n',
 'messagebus:x:102:106::/var/run/dbus:/bin/false\n',
 'landscape:x:103:109::/var/lib/landscape:/bin/false\n',
 'jci:x:955:955::/home/jci:/bin/bash\n',
 'sshd:x:104:65534::/var/run/sshd:/usr/sbin/nologin\n',
 'user:x:1000:1000:user,,,:/home/user:/bin/bash\n',
 'reuven:x:1001:1001:Reuven M. Lerner,,,:/home/reuven:/bin/bash\n',
 'postfix:x:105:113::/var/spool/postfix:/bin/false\n',
 'colord:x:106:116:colord colour management daemon,,,:/var/lib/colord:/bin/false\n',
 'postgres:x:107:117:PostgreSQL administrator,,,:/var/lib/postgresql:/bin/bash\n',
 'dovecot:x:108:119:Dovecot mail server,,,:/usr/lib/dovecot:/bin/false\n',
 'dovenull:x:109:120:Dovecot login user,,,:/nonexistent:/bin/false\n',
 'postgrey:x:110:121::/var/lib/postgrey:/bin/false\n',
 'debian-spamd:x:111:122::/var/lib/spamassassin:/bin/sh\n',
 'memcache:x:113:124:Memcached,,,:/nonexistent:/bin/false\n',
 'genadi:x:1002:1003:Genadi Reznichenko,,,:/home/genadi:/bin/bash\n',
 'shira:x:1003:1004:Shira Friedman,,,:/home/shira:/bin/bash\n',
 'atara:x:1004:1005:Atara Lerner-Friedman,,,:/home/atara:/bin/bash\n',
 'shikma:x:1005:1006:Shikma Lerner-Friedman,,,:/home/shikma:/bin/bash\n',
 'amotz:x:1006:1007:Amotz Lerner-Friedman,,,:/home/amotz:/bin/bash\n',
 'mysql:x:114:125:MySQL Server,,,:/nonexistent:/bin/false\n',
 'clamav:x:115:126::/var/lib/clamav:/bin/false\n',
 'amavis:x:116:127:AMaViS system user,,,:/var/lib/amavis:/bin/sh\n',
 'opendkim:x:117:128::/var/run/opendkim:/bin/false\n',
 'gitlab-redis:x:999:1009::/var/opt/gitlab/redis:/bin/nologin\n',
 'gitlab-psql:x:998:1010::/var/opt/gitlab/postgresql:/bin/sh\n',
 'git:x:1007:1008:GitLab,,,:/home/git:/bin/bash\n',
 'opendmarc:x:118:129::/var/run/opendmarc:/bin/false\n',
 'dkim-milter-python:x:119:130::/var/run/dkim-milter-python:/bin/false\n',
 'deploy:x:1008:1011:Deploy,,,:/home/deploy:/bin/bash\n',
 'redis:x:112:123:redis server,,,:/var/lib/redis:/bin/false\n']

In [28]:
# Can I get the usernames from this passwd file?

# each record contains fields
# fields are separated by ':'
# the first field is the username

[one_line.split(':')[0]
 for one_line in open('linux-etc-passwd.txt')]

['# This is a comment\n',
 '# You should ignore me\n',
 'root',
 'daemon',
 'bin',
 'sys',
 'sync',
 'games',
 'man',
 'lp',
 'mail',
 '\n',
 '\n',
 '\n',
 'news',
 'uucp',
 'proxy',
 'www-data',
 'backup',
 'list',
 'irc',
 'gnats',
 '\n',
 'nobody',
 'syslog',
 'messagebus',
 'landscape',
 'jci',
 'sshd',
 'user',
 'reuven',
 'postfix',
 'colord',
 'postgres',
 'dovecot',
 'dovenull',
 'postgrey',
 'debian-spamd',
 'memcache',
 'genadi',
 'shira',
 'atara',
 'shikma',
 'amotz',
 'mysql',
 'clamav',
 'amavis',
 'opendkim',
 'gitlab-redis',
 'gitlab-psql',
 'git',
 'opendmarc',
 'dkim-milter-python',
 'deploy',
 'redis']

In [29]:
[one_line.split(':')[0]       # expression -- SELECT
 for one_line in open('linux-etc-passwd.txt')  # iteration -- FROM
 if ':' in one_line  ]       # condition -- WHERE

['root',
 'daemon',
 'bin',
 'sys',
 'sync',
 'games',
 'man',
 'lp',
 'mail',
 'news',
 'uucp',
 'proxy',
 'www-data',
 'backup',
 'list',
 'irc',
 'gnats',
 'nobody',
 'syslog',
 'messagebus',
 'landscape',
 'jci',
 'sshd',
 'user',
 'reuven',
 'postfix',
 'colord',
 'postgres',
 'dovecot',
 'dovenull',
 'postgrey',
 'debian-spamd',
 'memcache',
 'genadi',
 'shira',
 'atara',
 'shikma',
 'amotz',
 'mysql',
 'clamav',
 'amavis',
 'opendkim',
 'gitlab-redis',
 'gitlab-psql',
 'git',
 'opendmarc',
 'dkim-milter-python',
 'deploy',
 'redis']

In [30]:
!cat nums.txt

5
	10
	20
  	3
		   	20

 25

# Exercise: Sum numbers

Use a comprehension to read through `nums.txt`, and sum the numbers it contains.

Each line of the file contains either zero integers or one integers.  The integer might well have whitespace before or after it.

In [33]:
# I have: a file whose lines (strings) contain numbers
# I want: a list of numbers
# transform from a string to an int with int()

[int(one_line.strip())
 for one_line in open('nums.txt')]

ValueError: invalid literal for int() with base 10: ''

In [34]:
int('5')

5

In [35]:
int('    5      ')

5

In [36]:
int('    ')

ValueError: invalid literal for int() with base 10: '    '

In [37]:
int('')

ValueError: invalid literal for int() with base 10: ''

In [40]:
# add a condition

sum([int(one_line)
 for one_line in open('nums.txt')
 if one_line.strip()])   # just check that the line isn't empty

83

In [41]:
sum([int(one_line)
 for one_line in open('nums.txt')
 if one_line.strip().isdigit()])   # just check that the line isn't empty

83

In [43]:
# I want to know how many vowels are a string
# how can I use a comprehension for that?

s = 'whatever'

sum([1
 for one_character in s
 if one_character in 'aeiou'])

3

In [44]:
!head shoe-data.txt

Adidas	orange	43
Nike	black	41
Adidas	black	39
New Balance	pink	41
Nike	white	44
New Balance	orange	38
Nike	pink	44
Adidas	pink	44
New Balance	orange	39
New Balance	black	43

# Exercise: Shoe dicts

`shoe-data.txt` contains 100 lines. Each line contains three fields: Brand, color, and size. Fields are separated by tabs (`'\t'`).

Use a list comprehension to turn this file into a list of dictionaries. Each line should be turned into a dict whose keys are `brand`, `color`, and `size`. The values can remain strings; don't worry about the sizes.

I recommend that you write an external function that takes a string as input and returns a dict, then invoke that in your comprehension.

The result will be a list of 

```python
[
    {'brand':'Adidas',
     'color':'black',
     'size':'45'},
    ...

]
```

In [47]:
# a simple (not working) approach

def line_to_dict(one_line):
    return one_line.split('\t')

[line_to_dict(one_line)
 for one_line in open('shoe-data.txt')]

[['Adidas', 'orange', '43\n'],
 ['Nike', 'black', '41\n'],
 ['Adidas', 'black', '39\n'],
 ['New Balance', 'pink', '41\n'],
 ['Nike', 'white', '44\n'],
 ['New Balance', 'orange', '38\n'],
 ['Nike', 'pink', '44\n'],
 ['Adidas', 'pink', '44\n'],
 ['New Balance', 'orange', '39\n'],
 ['New Balance', 'black', '43\n'],
 ['New Balance', 'orange', '44\n'],
 ['Nike', 'black', '41\n'],
 ['Adidas', 'orange', '37\n'],
 ['Adidas', 'black', '38\n'],
 ['Adidas', 'pink', '41\n'],
 ['Adidas', 'white', '36\n'],
 ['Adidas', 'orange', '36\n'],
 ['Nike', 'pink', '41\n'],
 ['Adidas', 'pink', '35\n'],
 ['New Balance', 'orange', '37\n'],
 ['Nike', 'pink', '43\n'],
 ['Nike', 'black', '43\n'],
 ['Nike', 'black', '42\n'],
 ['Nike', 'black', '35\n'],
 ['Adidas', 'black', '41\n'],
 ['New Balance', 'pink', '40\n'],
 ['Adidas', 'white', '35\n'],
 ['New Balance', 'pink', '41\n'],
 ['New Balance', 'orange', '41\n'],
 ['Adidas', 'orange', '40\n'],
 ['New Balance', 'orange', '40\n'],
 ['New Balance', 'white', '44\n'],
 ['New Balance', 'pink', '40\n'],
 ['Nike', 'black', '43\n'],
 ['Nike', 'pink', '36\n'],
 ['New Balance', 'white', '39\n'],
 ['Nike', 'black', '42\n'],
 ['Adidas', 'black', '41\n'],
 ['New Balance', 'orange', '40\n'],
 ['New Balance', 'black', '40\n'],
 ['Nike', 'white', '37\n'],
 ['Adidas', 'black', '39\n'],
 ['Adidas', 'black', '40\n'],
 ['Adidas', 'orange', '38\n'],
 ['New Balance', 'orange', '39\n'],
 ['Nike', 'black', '35\n'],
 ['Adidas', 'white', '39\n'],
 ['Nike', 'white', '37\n'],
 ['Adidas', 'orange', '37\n'],
 ['Adidas', 'pink', '35\n'],
 ['New Balance', 'orange', '41\n'],
 ['Nike', 'pink', '44\n'],
 ['Nike', 'pink', '38\n'],
 ['Adidas', 'black', '39\n'],
 ['New Balance', 'white', '35\n'],
 ['Nike', 'pink', '40\n'],
 ['Nike', 'white', '44\n'],
 ['Nike', 'orange', '38\n'],
 ['Adidas', 'orange', '42\n'],
 ['New Balance', 'orange', '43\n'],
 ['Adidas', 'pink', '39\n'],
 ['Adidas', 'pink', '41\n'],
 ['Adidas', 'pink', '39\n'],
 ['Nike', 'white', '37\n'],
 ['Nike', 'orange', '38\n'],
 ['Adidas', 'orange', '39\n'],
 ['Nike', 'pink', '40\n'],
 ['Adidas', 'white', '36\n'],
 ['Nike', 'orange', '40\n'],
 ['New Balance', 'pink', '40\n'],
 ['New Balance', 'black', '40\n'],
 ['New Balance', 'pink', '40\n'],
 ['Adidas', 'pink', '41\n'],
 ['Nike', 'pink', '40\n'],
 ['Nike', 'black', '41\n'],
 ['Nike', 'black', '39\n'],
 ['New Balance', 'white', '38\n'],
 ['Adidas', 'black', '41\n'],
 ['Nike', 'orange', '36\n'],
 ['Nike', 'black', '38\n'],
 ['New Balance', 'black', '40\n'],
 ['New Balance', 'pink', '40\n'],
 ['Adidas', 'black', '42\n'],
 ['Adidas', 'white', '40\n'],
 ['New Balance', 'orange', '38\n'],
 ['Nike', 'pink', '41\n'],
 ['Adidas', 'orange', '37\n'],
 ['Nike', 'black', '44\n'],
 ['Adidas', 'pink', '36\n'],
 ['Adidas', 'white', '35\n'],
 ['Nike', 'black', '38\n'],
 ['Nike', 'pink', '42\n'],
 ['New Balance', 'black', '43\n'],
 ['Nike', 'white', '38\n'],
 ['New Balance', 'pink', '39\n'],
 ['Nike', 'orange', '39\n'],
 ['New Balance', 'orange', '40\n'],
 ['New Balance', 'white', '44\n'],
 ['Adidas', 'black', '42\n'],
 ['Nike', 'black', '35\n']]

In [ ]:
# a simple working

def line_to_dict(one_line):
    fields = one_line.split('\t')
    
    return {'brand':fields[0],
           'c'}

[line_to_dict(one_line)
 for one_line in open('shoe-data.txt')]